$MainColor: #3f0fb7
$MainShadow: #320c92
$secondaryColor: #653fc5
$secondaryShadow: #4c26ac
$MainAccent: #ece7f8
$SecondaryAccent: #9F87DB

@mixin flex()
    display: flex
    flex-wrap: wrap
    flex-direction: row 

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    position: relative
    font-size: 16px
    font-family: 'Source Code Pro', monospace
    line-height: 1.8em
    letter-spacing: .02em
    overflow-x: hidden

body::after
    content: ''
    display: block
    height: 100px

a:-webkit-any-link
    text-decoration: none
    color: $MainAccent

#loader
    height: 100vh
    width: 100%
    position: fixed
    display: grid
    place-items: center
    background-color: #ece7f8
    z-index: 100
    
    img
        animation: spin 2s ease infinite

.header__nav
    position: fixed
    top: 0
    background-color: $MainColor
    width: 100%
    z-index: 3

    .navbar__nav
        @include flex

        align-items: center
        justify-content: space-between
        padding: 16px 32px

        .logo
            position: relative

        .logo:hover
            transform: rotateZ(27deg)
            transition: 0.3s linear

        .logo__label
            font-family: 'Cinzel', serif
            color: $MainAccent
            float: right
            margin-top: 18px
            margin-left: 16px

        ul
            list-style: none
            font-size: 1.25em
            margin: 0
            padding: 0 20px
            justify-content: space-evenly

            li
                display: inline-block
                padding: 0 8px

                a, .dropdown__btn
                    display: block
                    color: $MainAccent
                    text-align: center
                    float: left
                    height: 40px
                    line-height: 40px

                a:hover 
                    color: $SecondaryAccent
                    font-size: 1.25em
                    font-weight: 500
        
        

.main
    @include flex

    width: 100%
    padding: 0 0 20px 0
    background-color: $MainAccent
    justify-content: center

    .main__container
        display: flex
        flex-direction: column
        width: 100%
        margin-top: 71.41px  
        text-align: center
        justify-content: center
        align-items: center

        .jumbotron
            @include flex()
            

            position: relative
            height: calc( 100vh / 1.3)
            width: 100%
            background: url('img/design.jpg') center
            align-items: center

            .jumbotron__slide
                display: flex
                flex-direction: column
                height: calc( 100vh / 1.3)
                background-color: #653fc5bb
                width: 75%
                justify-content: center
                transition: .7s ease-out

            .jumbotron__face
                position: absolute
                left: 72%
                bottom: 20px

                .jumbotron__cta
                    visibility: hidden
                    font-size: 16px
                    background: none
                    border: $MainColor solid 3px
                    cursor: pointer
                    

                    a
                        display: block
                        color: $MainColor
                        padding: 18px 32px

                .jumbotron__cta:hover
                    background-color: $MainColor
                    border: $MainColor solid 2px
                        
                    a
                        color: $MainAccent

                .jumbotron__cta:active
                    background-color: $secondaryShadow
                    box-shadow: 0 0 5px 3px $MainShadow

                    a
                        color: $MainShadow

            .jumbotron__hello
                font-size: 3em
                color: $MainAccent

            .jumbotron__tittle
                display: block
                color: $MainAccent

            .jumbotron__tittle::before
                content: "I'm Nahuel Lopez"

            .jumbotron__subtittle
                display: block
                color: $MainAccent
                font-style: italic

        .jumbotron:hover
            .jumbotron__slide
                width: 50%
                background-color: #4c26ac

            .jumbotron__cta
                visibility: visible

            .jumbotron__hello, .jumbotron__subtittle
                visibility: hidden

            .jumbotron__tittle::before
                display: block
                font-size: 48px
                font-style: italic
                content: '¡lets take a look!'


    .main__section
        display: flex
        flex-direction: column
        width: 90%
        align-items: center
        

        .section__tittle
            margin-top: 32px 
            font-size: 2em
            color: $secondaryShadow

        .section__content
            margin: 16px 16px
            font-size: 1.2em
            font-style: italic
            width: 50%
            color: $secondaryShadow

        .section__article
            @include flex
            position: relative
            height: 100vh
            margin: 32px 0

            .article__card--right
                border-radius: 20px
                position: absolute
                height: 600px
                left: 450px
                bottom: 50px
                overflow: hidden
                box-shadow: 0 0 10px 5px $MainShadow
                transition: 0.7s ease

                img
                    border-radius: 20px

            .article__card--right::after
                position: absolute
                top: 0
                display: block
                content: 'asdasdasd'
                text-align: start
                font-size: 1.5em
                font-weight: 300
                color: $MainAccent
                padding: 16px 75px
                border-radius: 20px
                height: 100%
                width: 100%
                background-color: #3f0fb7bb
                transition: 0.8s ease


            .article__card--left
                border-radius: 20px
                position: absolute
                height: 600px
                right: 450px
                bottom: 50px
                overflow: hidden
                box-shadow: 0 0 10px 5px $MainShadow
                transition: 0.7s ease
                
                img
                    border-radius: 20px

            .article__card--left::after
                position: absolute
                top: 0
                display: block
                content: 'asdasdasd'
                text-align: end
                font-size: 1.5em
                font-weight: 300
                color: $MainAccent
                padding: 16px 0 0 25px
                border-radius: 20px
                height: 100%
                width: 100%
                background-color: #3f0fb7bb
                transition: 0.8s ease

            .article__card--right:hover
                left: -450px
                box-shadow: 0 0 10px 5px $MainShadow
                z-index: 2

            .article__card--right:hover::after
                text-align: center
                padding: 16px 0
                height: 5%
                border-bottom-left-radius: 0
                border-bottom-right-radius: 0
                background-color: #3f0fb788

            .article__card--left:hover
                right: -450px
                box-shadow: 0 0 10px 5px $MainShadow
                z-index: 2

            .article__card--left:hover::after
                text-align: center
                padding: 16px 0
                height: 5%
                border-bottom-left-radius: 0
                border-bottom-right-radius: 0
                background-color: #3f0fb788

.footer__nav
    @include flex

    position: absolute
    bottom: 0
    align-items: center
    justify-content: center
    padding: 16px 32px
    background-color: $MainColor
    width: 100%
    text-align: center
    height: 100px
    z-index: 3
    

    .footer__text
        color: $MainAccent

.page__scroller
    position: fixed
    bottom: 32px
    right: 8px
    scroll-behavior: smooth
    height: 50px
    width: 50px
    border-radius: 100%
    color: $MainAccent
    background-color: $MainShadow
    cursor: pointer
    z-index: 10

    a
        display: block


/*ABOUT CSS*/
.about__main
    display: flex
    justify-content: center
    width: 100%
    margin-top: 87.41px
    padding: 32px 0 
    background-color: $MainAccent

    .about__container
        display: flex
        flex-direction: row
        flex-wrap: wrap
        width: 90%
         
        justify-content: center
        align-items: center

        .about__photo
            width: 40%
            padding: 16px

            img
                height: 100%
                width: 100%
                border: $MainColor solid 2px

        .about__section
            display: flex
            flex-direction: column
            width: 50%
            padding: 16px
           

            .about__tittle
                font-size: 38px
                margin: 32px 0 16px
                color: $secondaryShadow

            
            .about__text
                margin: 16px 0
                color: $secondaryShadow

            .about__quote
                font-style: italic
                margin: 16px 0
                padding-left: 16px
                border-left: $secondaryColor solid 1px 
                color: $secondaryShadow

    .cv__download
        margin-top: 64px
        width: 125px
        border: $MainColor solid 2px
        cursor: pointer
        transition: 0.2s linear
    
        a
            display: block
            padding: 16px 32px
            color: $MainColor
            
    
    .cv__download:hover
        background-color: $MainColor
                        
        a
            color: $MainAccent

    .cv__download:active
        background-color: $secondaryColor
        box-shadow: 0 0 5px 3px $MainColor

        a
            color: $MainShadow

/*LOADINGSCREEN*/ 
@keyframes spin
    0%
        transform: rotateZ(360deg)
    100%
        transform: rotateZ(0deg)

@media (min-width: 576px) and (max-width: 768px)
    .main
        .main__container
            .jumbotron
                .jumbotron__slide
                    width: 100%

            .jumbotron:hover
                .jumbotron__slide
                    position: absolute
                    bottom: 0
                    width: 100%
                    height: 50%

                .jumbotron__face
                    left: 35%


        .main__section
            .section__tittle
                font-size: 26px
                width: 80%
            
            .section__content
                font-size: 1em
                width: 75%


    .about__main

        .about__container

            .about__photo
                width: 90%

            .about__section
                width: 100%

                .about__tittle
                    text-align: center

            .cv__download
                margin-left: auto
                margin-right: auto 

@media  (max-width: 576px)
    .main
        .main__container
            .jumbotron
                .jumbotron__slide
                    width: 100%

            .jumbotron:hover
                .jumbotron__slide
                    position: absolute
                    bottom: 0
                    width: 100%
                    height: 50%

                .jumbotron__face
                    left: 35%


        .main__section
            .section__tittle
                font-size: 26px
                width: 80%
            
            .section__content
                font-size: 1em
                width: 75%


    .about__main

        .about__container

            .about__photo
                width: 90%

            .about__section
                width: 100%

                .about__tittle
                    text-align: center

            .cv__download
                margin-left: auto
                margin-right: auto    
    