@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  line-height: 1.8em;
  letter-spacing: 0.02em;
  overflow-x: hidden;
}

body::after {
  content: "";
  display: block;
  height: 100px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #ece7f8;
}

#loader {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ece7f8;
  z-index: 100;
}
#loader img {
  -webkit-animation: spin 2s ease infinite;
          animation: spin 2s ease infinite;
}

.header__nav {
  position: fixed;
  top: 0;
  background-color: #3f0fb7;
  width: 100%;
  z-index: 3;
}
.header__nav .navbar__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
}
.header__nav .navbar__nav .logo {
  position: relative;
}
.header__nav .navbar__nav .logo:hover {
  transform: rotateZ(27deg);
  transition: 0.3s linear;
}
.header__nav .navbar__nav .logo__label {
  font-family: "Cinzel", serif;
  color: #ece7f8;
  float: right;
  margin-top: 18px;
  margin-left: 16px;
}
.header__nav .navbar__nav ul {
  list-style: none;
  font-size: 1.25em;
  margin: 0;
  justify-content: space-evenly;
}
.header__nav .navbar__nav ul li {
  display: inline-block;
  padding: 0 8px;
}
.header__nav .navbar__nav ul li a, .header__nav .navbar__nav ul li .dropdown__btn {
  display: block;
  color: #ece7f8;
  text-align: center;
  float: left;
  height: 40px;
  line-height: 40px;
}
.header__nav .navbar__nav ul li a:hover {
  color: #9F87DB;
  font-size: 1.25em;
  font-weight: 500;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 0 0 20px 0;
  background-color: #ece7f8;
  justify-content: center;
}
.main .main__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 92.86px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main .main__container .jumbotron {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  height: calc(100vh - 92.86px);
  width: 100%;
  background: url("img/design.jpg") center;
  align-items: center;
}
.main .main__container .jumbotron .jumbotron__slide {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 92.86px);
  background-color: rgba(101, 63, 197, 0.7333333333);
  width: 75%;
  justify-content: center;
  transition: 0.7s ease-out;
}
.main .main__container .jumbotron .jumbotron__face {
  position: absolute;
  left: 70%;
  bottom: 20px;
}
.main .main__container .jumbotron .jumbotron__face .jumbotron__cta {
  visibility: hidden;
  font-size: 16px;
  background: none;
  border: #ece7f8 solid 3px;
  cursor: pointer;
}
.main .main__container .jumbotron .jumbotron__face .jumbotron__cta a {
  display: block;
  color: #ece7f8;
  padding: 18px 32px;
}
.main .main__container .jumbotron .jumbotron__face .jumbotron__cta:hover {
  background-color: #ece7f8;
  border: #ece7f8 solid 2px;
}
.main .main__container .jumbotron .jumbotron__face .jumbotron__cta:hover a {
  color: #3f0fb7;
}
.main .main__container .jumbotron .jumbotron__face .jumbotron__cta:active {
  background-color: #4c26ac;
  box-shadow: 0 0 5px 3px #320c92;
}
.main .main__container .jumbotron .jumbotron__face .jumbotron__cta:active a {
  color: #320c92;
}
.main .main__container .jumbotron .jumbotron__hello {
  font-size: 3em;
  line-height: normal;
  color: #ece7f8;
}
.main .main__container .jumbotron .jumbotron__tittle {
  display: block;
  color: #ece7f8;
}
.main .main__container .jumbotron .jumbotron__tittle::before {
  content: "I'm Nahuel Lopez";
}
.main .main__container .jumbotron .jumbotron__subtittle {
  display: block;
  color: #ece7f8;
  font-style: italic;
}
.main .main__container .jumbotron:hover .jumbotron__slide {
  width: 50%;
  background-color: #653fc5;
}
.main .main__container .jumbotron:hover .jumbotron__cta {
  visibility: visible;
}
.main .main__container .jumbotron:hover .jumbotron__hello, .main .main__container .jumbotron:hover .jumbotron__subtittle {
  visibility: hidden;
}
.main .main__container .jumbotron:hover .jumbotron__tittle::before {
  display: block;
  font-size: 48px;
  font-style: italic;
  content: "¡Take a look!";
  line-height: normal;
}
.main .main__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.main .main__section .section__tittle {
  margin-top: 32px;
  font-size: 2em;
  color: #4c26ac;
}
.main .main__section .section__content {
  margin: 16px 16px;
  font-size: 1.2em;
  font-style: italic;
  color: #4c26ac;
  width: 50%;
}
.main .main__section .section__article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 0 40px;
  justify-content: space-around;
}
.main .main__section .section__article .article__column {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 50%;
}
.main .main__section .section__article .article__column .article__card {
  border-radius: 5px;
  height: 250px;
  margin: 16px;
  transition: 1s ease;
  border: #ece7f8 solid 1px;
  background: url("img/design.jpg");
}
.main .main__section .section__article .article__column .article__card img {
  border-radius: 5px;
}
.main .main__section .section__article .article__column .card__tittle {
  display: grid;
  place-items: center;
  font-size: 32px;
  height: 100%;
  padding: 16px;
  color: #ece7f8;
  background-color: rgba(101, 63, 197, 0.937254902);
  border-radius: 5px;
  visibility: hidden;
}
.main .main__section .section__article .article__column .article__card:hover .card__tittle {
  visibility: visible;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: #3f0fb7;
  width: 100%;
  padding: 16px 32px;
  text-align: center;
  height: 100px;
  z-index: 3;
}
.footer__nav .footer__text {
  color: #ece7f8;
}

.page__scroller {
  position: fixed;
  bottom: 32px;
  right: 8px;
  scroll-behavior: smooth;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  color: #ece7f8;
  background-color: #320c92;
  cursor: pointer;
  z-index: 10;
}
.page__scroller a {
  display: block;
}

/*ABOUT CSS*/
.about__main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 92.86px;
  padding: 32px 0;
  background-color: #ece7f8;
}
.about__main .about__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  align-items: flex-start;
  justify-content: center;
}
.about__main .about__container .about__photo {
  width: 45%;
  padding: 16px;
}
.about__main .about__container .about__photo img {
  height: 100%;
  width: 100%;
  border: #3f0fb7 solid 2px;
}
.about__main .about__container .about__section {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: starts;
  padding: 16px;
}
.about__main .about__container .about__section .about__tittle {
  font-size: 38px;
  margin: 32px 0 16px;
  color: #4c26ac;
}
.about__main .about__container .about__section .about__text {
  margin: 16px 0;
  color: #4c26ac;
}
.about__main .about__container .about__section .about__quote {
  font-style: italic;
  margin: 16px 0;
  padding-left: 16px;
  border-left: #653fc5 solid 1px;
  color: #4c26ac;
}
.about__main .cv__download {
  margin-top: 64px;
  width: 125px;
  border: #3f0fb7 solid 2px;
  cursor: pointer;
  transition: 0.2s linear;
}
.about__main .cv__download a {
  display: block;
  padding: 16px 32px;
  color: #3f0fb7;
}
.about__main .cv__download:hover {
  background-color: #3f0fb7;
}
.about__main .cv__download:hover a {
  color: #ece7f8;
}
.about__main .cv__download:active {
  background-color: #653fc5;
  box-shadow: 0 0 5px 3px #3f0fb7;
}
.about__main .cv__download:active a {
  color: #320c92;
}

/*LOADINGSCREEN*/ 
@-webkit-keyframes spin {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
} 
@keyframes spin {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .main .main__container .jumbotron .jumbotron__slide {
    width: 100%;
  }
  .main .main__container .jumbotron .jumbotron__face {
    left: 36%;
  }
  .main .main__container .jumbotron:hover .jumbotron__slide {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    justify-content: start;
  }
  .main .main__section .section__tittle {
    font-size: 26px;
    width: 80%;
  }
  .main .main__section .section__content {
    font-size: 1em;
    width: 75%;
  }

  .about__main .about__container .about__photo {
    width: 95%;
  }
  .about__main .about__container .about__section {
    width: 100%;
  }
  .about__main .about__container .about__section .about__tittle {
    text-align: center;
  }
  .about__main .about__container .cv__download {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 576px) {
  .header__nav .navbar__nav .logo__label {
    display: none;
  }

  .main .main__container .jumbotron .jumbotron__slide {
    width: 100%;
  }
  .main .main__container .jumbotron .jumbotron__face {
    left: 27%;
  }
  .main .main__container .jumbotron:hover .jumbotron__slide {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    justify-content: start;
  }
  .main .main__container .jumbotron:hover .jumbotron__tittle::before {
    font-size: 40px;
  }
  .main .main__section .section__tittle {
    font-size: 26px;
    width: 80%;
  }
  .main .main__section .section__content {
    font-size: 1em;
    width: 75%;
  }
  .main .main__section .section__article {
    padding: 0;
  }
  .main .main__section .section__article .article__column {
    width: 100%;
  }

  .about__main .about__container .about__photo {
    width: 100%;
  }
  .about__main .about__container .about__section {
    width: 100%;
  }
  .about__main .about__container .about__section .about__tittle {
    text-align: center;
  }
  .about__main .about__container .cv__download {
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=style.css.map */